body{
    padding: 0%;
    margin: 0%;
}
.formbackground-container {
    background:url('https://upcdn.io/FW25bUx/raw/formimage.jpg') center;

   height: 100vh;
   
   background-repeat: no-repeat;
   background-size: 100% 100%;

  
   background-color: white
}
.formtxt{
    margin-left: 130px;
}
.form{
    padding-top: 3%;
    margin-left: 50%;
}
.form tr td{
    padding: 7.5px;
}
